<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevLearn Hub</title>
  <link rel="icon" type="image/png" href="/images/devlearn_favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
  <a href="/" class="logo-link">
   <img src="/images/devlearn_logo.png" alt="DEVlearn" class="logo-img">
  </a>

  <nav>
    <a href="/" class="nav-link">Home</a>
    <a href="/dashboard" class="nav-link">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="nav-link btn-border">Logout</button>
    {{else}}
    <a href="/login" class="nav-link btn-border">Login</a>
    {{/if}}
  </nav>
</header>

  <main>
    <div class="img-body">
    </div>
    <div class="hbs-body">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
<footer>&copy; Created by Isabel Vaughan for Monash University Boot Camps</footer>
</html>