<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevLearn Hub</title>
  <link rel="icon" type="image/png" href="/images/devlearn_favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
  <a href="/" class="logo-link">
   <img src="/images/devlearn_logo.png" alt="DEVlearn">
  </a>

<nav>
  <button class="btn" onclick="window.location.href='/'">Home</button>
  <button class="btn" onclick="window.location.href='/dashboard'">Dashboard</button>
  {{#if loggedIn}}
    <button id="logout" class="btn btn-border">Logout</button>
  {{else}}
    <button onclick="window.location.href='/login'" class="btn btn-border">Login</button>
  {{/if}}
</nav>
</header>

  <main class="hbs-body">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
<footer>&copy; Created by Isabel Vaughan for Monash University Boot Camps</footer>
</html>