<section>
  <h2 class="dashboard-header">Welcome to your Dashboard</h2>

  <div class="post-container">
    {{#if posts.length}}
      {{#each posts}}
        <a href="/post/{{ id }}/edit">
          <div class="post-banner">
            <h2>{{ title }}</h2>
            <p>{{ formatDate createdAt }}</p>
          </div>
        </a>
      {{/each}}
    {{else}}
      <p>No posts found.</p>
    {{/if}}
  </div>

  <a href="/post/new">
    <button id="new-post-btn" class="btn btn-border">+ New Post</button>
  </a>
</section>
