<section class="dashboard">
  <h2>Welcome to your Dashboard</h2>

  {{!-- {{#each posts}}
    <div class="post-card">
      <h2>{{ title }}</h2>
      <p>Posted by {{ user.username }} on {{ formatDate createdAt }}</p>
      <p>{{ content }}</p>
    </div>
  {{/each}} --}}

  <button id="new-post-btn">+ New Post</button>
</section>
