<form class="new-post">
  <h2 class="page-title" style="margin-bottom: 50px;">Edit Post</h2>
  <label for="title" class="dark-text">Title:</label>
  <input type="text" id="title" name="title" value="{{post.title}}" class="form-input-secondary"required>
  <label for="content" class="dark-text">Content:</label>
  <textarea id="content" name="content" class="form-input-secondary"required>{{post.content}}</textarea>
<div class="button-container">
    <button id="update-btn" type="submit" class="btn btn-border">Update</button>
    <button id="delete-btn" type="submit" class="btn btn-border">Delete</button>
  </div>
</form>


<script>const postId = {{post.id}};</script>
<script src="/js/update-post.js"></script>
<script src="/js/delete-post.js"></script>