<form class="new-post">
  <h2 class="page-title" style="margin-bottom: 50px;">New Post</h2>
  <label for="title" class="secondary-text" >Title</label>
  <input type="text" id="title" name="title" class="form-input-dark" required>
  <label for="content" class="secondary-text" >Content</label>
  <textarea id="content" name="content" class="form-input-dark" required></textarea>
  <button id="submit-btn" type="submit" class="btn btn-border">Create Post</button>
</form>


<script src="/js/new-post.js"></script>