:root {
  --light: #ffffff;
  --dark: #023f26;
  --primary: #f8f7f3;
  --secondary: #d485fb;
  --secondary-darker: #b866e1;
}

* {
  font-family: "Poppins", sans-serif;
}

/* LAYOUT */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hbs-body {
  flex: 1;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
  text-align: center;
  height: 100vh;
  overflow: auto;
  flex-wrap: wrap;
}

/* GLOBAL STYLES */
/* BUTTONS */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  color: var(--dark);
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 0px;
}

.btn:hover {
  color: var(--light);
  background-color: var(--dark);
}

.btn-border {
  border: 2px solid var(--dark);
  border-radius: 0px;
}

/* TEXT */
.dark-text {
  color: var(--dark);
  font-weight: bold;
}

.secondary-text {
  color: var(--secondary);
  font-weight: bold;
}

.page-header {
  margin-bottom: 50px;
}

.username {
  font-size: smaller;
}

/*  FORM INPUT */
.form-input-dark {
  background-color: var(--dark);
  border-radius: 500px;
  width: 100%;
  padding: 0.75rem;
  color: var(--primary);
  font-size: 1.2rem;
  border-radius: 5000px;
  border-color: transparent;
  text-align: center;
}

.form-input-secondary {
  background-color: var(--secondary);
  border-radius: 500px;
  width: 100%;
  padding: 0.75rem;
  color: var(--primary);
  font-size: 1.2rem;
  border-radius: 5000px;
  border-color: transparent;
  text-align: center;
}

/* HEADER */
header {
  background-color: var(--light);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  text-align: left;
}

.logo-link img {
  height: 30px;
}

/* HOME PAGE */
.post-card {
  width: 100%;
  margin: 2rem 0;
  border: 4px solid var(--secondary);
  border-radius: 500px;
  padding: 2rem 4rem;
  color: var(--dark);
}

.comment-card {
  width: 100%;
  margin: 2rem 0;
  border: 4px solid var(--dark);
  border-radius: 500px;
  padding: 1rem;
  color: var(--dark);
  text-align: center;
}

.comment-input {
  width: 100%;
  padding: 0.8rem;
  border: 4px solid var(--secondary);
  border-radius: 500px;
  resize: vertical;
  text-align: center;
}

/* DASHBOARD */
.post-banner {
  width: 100%;
  margin: 2rem 0;
  border-radius: 500px;
  padding: 1rem 4rem;
  color: var(--primary);
  background-color: var(--secondary);
  transition: background-color 0.3s;
}

.post-banner:hover {
  background-color: var(--secondary-darker);
}

/* LOGIN / SIGN UP */
.login-signup {
  color: var(--secondary);
  text-decoration: underline;
  transition: color 0.3s;
  text-transform: uppercase;
}

.login-signup:hover {
  color: var(--secondary-darker);
}

/* FOOTER  */

footer {
  color: var(--dark);
  background-color: var(--light);
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

/* MOBILE CODE BELOW */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo-link {
    order: 0;
    text-align: center;
    width: 100%;
  }

  nav {
    order: 1;
    margin-top: 20px;
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    margin: 10px 0;
  }

  .hbs-body {
    padding: 0 3rem;
  }

  footer {
    font-size: smaller;
  }
}
