:root {
  --light: #ffffff;
  --dark: #023f26;
  --primary: #f8f7f3;
}

header {
  background-color: var(--light);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  order: 0;
  text-align: left;
}

.logo-img {
  height: 30px;
}

nav {
  order: 1;
  margin-top: 10px;
  text-align: right;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: var(--dark);
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
  color: var(--light);
  background-color: var(--dark);
}

.btn-border {
  border: 2px solid var(--dark);
  border-radius: 0px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.img-body {
  flex: 0 0 50%; /* Take up 50% of the container */
  position: relative;
  background-image: url("/images/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--primary);
  opacity: 0.5;
}

.hbs-body {
  flex: 0 0 50%; /* Take up 50% of the container */
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hbs-body > * {
  text-align: center; /* Center align the content within hbs-body */
}

/* MOBILE CODE BELOW */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo-link {
    order: 0;
    text-align: center;
    width: 100%;
  }

  nav {
    order: 1;
    margin-top: 20px;
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    margin: 10px 0;
  }

  .img-body,
  .hbs-body {
    flex: 1 0 100%; /* Take up 100% of the container on mobile */
  }
  .hbs-body {
    background-image: url("/images/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--primary);
    opacity: 0.5;
  }
}
